body, html {
    height: 100%;
    margin: 0;
	padding:0;
}

.bg {
    background-image: url("tncback.jpg");
    height: 225%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .text{
	 color:#F4D03F;
	 font-family : Comic Sans MS;
	 margin-left:200px;
	 margin-right:200px;
	 
 }
 .text h2{
	
	 font-size: 40px;
	margin-top:100px;
 }
 .text ul{
	 margin-top:0;
	border: solid 2px;
	 border-color:#F4D03F;
 }
 
 .navtabs ul {
overflow:hidden;
}

.navtabs li  {
display: inline;
float:left;
background-color: #99ccff;
opacity:0.6;
}

.navtabs li a {
	font-family:Comic Sans MS;
	font-size:15px;
  display: block;
  background-color: black;
	padding-top:43.5px;
	padding-right:37px;
	padding-left:35px;
	padding-bottom:35px;
	color:white;
	text-decoration:none;
}

.navtabs li a:hover {
    background-color: white;
	color:black;
}

.logo img{
	width:200px;
	height:100px;
	float:left;
	opacity:0.8;
	padding-right:none;
}

.footer{
	width:100%;
	height:100px;
	background-color:black;
	opacity:0.7;
	position:relative;
	top:125px;
}